{% extends "base.html" %}

{% block title %}Polls for App.net{% end %}

{% block container %}
    <div class="starter-template">
        <div class="page-header">
            <h1>
                Polls for App.net
                <small>
                    by <a href="https://alpha.app.net/intent/follow/?user_id=@abraham" target="_blank">@abraham</a>
                    {% if not user_is_authed %}
                        / <a href="/auth/redirect">Sign in and be a hero</a>
                    {% end %}
                </small>
            </h1>
        </div>

        <div>
            <ul class="media-list">
            {% for action in recent_actions %}
                <li class="media row">
                {% if action['type'] == 'new_poll' %}
                    <a class="pull-right" href="/polls/{{action['poll_id']}}">
                        <img class="media-object img-rounded " src="{{action['user_avatar']}}" width="60px" height="60px">
                    </a>
                    <div class="media-body">
                        <div class='pull-right'>
                            <h4 class="media-heading">
                                <a href="/polls/{{action['poll_id']}}">{{action['question']}}</a>
                            </h4>
                            New poll by <a href="https://alpha.app.net/{{action['user_name']}}" target="_blank">@{{action['user_name']}}</a> <span class='datetime' data-datetime="{{action['created_at']}}">{{action['created_at']}}</span>
                        </div>
                    </div>
                {% elif action['type'] == 'new_user' %}
                    <a class="pull-right" href="https://alpha.app.net/{{action['user_name']}}" target="_blank">
                        <img class="media-object img-rounded " src="{{action['user_avatar']}}" width="60px" height="60px">
                    </a>
                    <div class="media-body">
                        <div class='pull-right'>
                            <h4 class="media-heading">
                                <a href="https://alpha.app.net/{{action['user_name']}}" target="_blank">@{{action['user_name']}}</a> signed up for Polls
                            </h4>
                            New user <span class='datetime' data-datetime="{{action['created_at']}}">{{action['created_at']}}</span>
                        </div>
                    </div>
                {% elif action['type'] == 'new_vote' %}
                    <a class="pull-left" href="/polls/{{action['poll_id']}}">
                        <img class="media-object img-rounded " src="{{action['user_avatar']}}" width="60px" height="60px">
                    </a>
                    <div class="media-body">
                        <div class='pull-left'>
                            <h4 class="media-heading">
                                {{action['option']}}
                            </h4>
                            New vote on <a href="/polls/{{action['poll_id']}}">{{action['question']}}</a> by <a href="https://alpha.app.net/{{action['user_name']}}" target="_blank">@{{action['user_name']}}</a> <span class='datetime' data-datetime="{{action['created_at']}}">{{action['created_at']}}</span>
                        </div>
                    </div>
                {% end %}
                <br/>
                <br/>
                </li>
            {% end %}
            </ul>
        </div>
    </div>
{% end %}


{% block scripts %}
<script>
$(function() {
    $('.datetime').each(function(index, elem){
        var $elem = $(elem);
        var fromNow = moment.utc($elem.data('datetime')).fromNow()
        $elem.text(fromNow);
    });
});
</script>
{% end %}
