{% extends "base.html" %}


{% block title %}{{header_title}}{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>
                {{header_title}}
                <small>
                    {% raw header_subtitle %}
                    {% if current_user is None %}
                        / <a href="/auth/redirect">Sign in and be a hero</a>
                    {% end %}
                </small>
            </h1>
        </div>


        <div class='col-md-offset-1 col-md-10'>
            {% for action in recent_actions %}
                <div class="media row list-row">
                    {% module Actions(action) %}
                </div>
            {% end %}
        </div>


    </div>
{% end %}
