{% autoescape xhtml_escape %}
{% extends "base.html" %}


{% block title %}Create a new poll{% end %}


{% block container %}
<div class="row">


    <div class="page-header">
        <h1>
            Create a new poll
            <small class="text-muted">
                that will be visible to everyone
            </small>
        </h1>
    </div>


    <div class="col-md-8 col-md-offset-2">
        <form role="form" method="post" action="/create" class='row'>

            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" id="question" name="question" rows="3" maxlength="150" placeholder="How awesome is @abraham for making this amazing tool?" required autocomplete="off"></textarea>
            </div>

            <div class="form-group">
                <label for="options">Options</label>
                <input type="text" class="form-control" id="options" name="options" maxlength="100" placeholder="So awesome!" required autocomplete="off">
                <input type="text" class="form-control" id="options" name="options" maxlength="100" placeholder="Beyond awesome!" required autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="The most epic!" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="!!!" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="Need moar cowbell!" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="This is lame!" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="One seriously bearded dude!" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="The cake is a lie" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="My spoon is too big" autocomplete="off">
                <input type="text" class="form-control hidden" id="options" name="options" maxlength="100" placeholder="He was dead the whole time" autocomplete="off">
            </div>

          {% raw xsrf_input %}

          <button type="submit" class="btn btn-default btn-lg pull-right btn-danger"><span class="glyphicon glyphicon-heart-empty"></span> Create and post to ADN</button>
        </form>
    </div>
</div>
{% end %}

{% block scripts %}
    <script>
        $('input').on('focus', function() {
            $(this).next('.hidden').hide().removeClass('hidden').slideDown();
        });
    </script>
{% end %}
