{% extends "base.html" %}


{% block title %}{{header_title}}{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>
                {{header_title}} 
                <small>
                    {{header_subtitle}}
                </small>
            </h1>
        </div>


        <div class='row'>
            {% for user in users %}
                {% if not user['user_avatar_is_default'] %}
                    <div class="col-md-2 grid-square">
                        <a  href="/users/{{user['_id']}}"
                            class="thumbnail"
                            title="{{user['user_name']}}">
                            <img src="/img/loading.gif"
                                data-src="{{user['user_avatar']}}?h=254&amp;w=254"
                                alt="{{user['user_name']}}'s avatar"
                                width="127"
                                height="127">
                        </a>
                    </div>
                {% end %}
            {% end %}

            <div class="col-md-2 grid-square">
                <br><br><br>
                <a href="https://alpha.app.net/intent/post/?text=%40abraham%20I%20would%20like%20to%20see%20more%20users%20on%20the%20Polls%20user%20grid%20" target="_blank">Show me more users</a>
            </div>
        </div>


    </div>
{% end %}
