{% autoescape xhtml_escape %}
{% extends "base.html" %}


{% block title %}{{header_title}}{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>
                {{header_title}} 
                <small>
                    {{header_subtitle}}
                </small>
            </h1>
        </div>


        <div class='row'>
            {% for user in users %}
                <div class="col-md-2" style='margin-bottom: 25px;'>
                    <a href="/users/{{user['_id']}}" class="thumbnail" title="{{user['user_name']}}">
                        <img src="/img/loading.gif" data-src="{{user['user_avatar']}}?h=254&amp;w=254" alt="{{user['user_name']}}'s avatar" width="127" height="127">
                    </a>
                </div>
            {% end %}
        </div>


    </div>
{% end %}
