{% extends "base.html" %}


{% block title %}Polls for App.net{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>
                {{header_title}}
                <small>
                    {% raw header_subtitle %}
                    {% if current_user is None %}
                        / <a href="/auth/redirect">Sign in and be a hero</a>
                    {% end %}
                </small>
            </h1>
        </div>


        <p class="lead">Polls is a clean and beautiful tool for surveying <a href="https://alpha.app.net" target="_blank">App.net</a> users so you can be more informed when making the decisions that matter. Creating and voting on polls is free, easy, and simple.</p>


        <div class='col-md-12'>
            {% for poll in active_polls %}
                <div class='row index-graph'>
                    <div class="">

                        <div class="page-header">
                            <h2>
                                <a href="/polls/{{poll['_id']}}">{{poll['question']}}</a>
                                <small class="text-muted">
                                    by @<a href="/users/{{poll['user_id']}}">{{poll['user_name']}}</a>
                                    <a href="{{poll['post_url']}}" target="_blank">
                                        <span class='datetime' data-datetime="{{poll['created_at']}}">{{poll['created_at_human']}}</span>
                                    </a>
                                </small>
                            </h2>
                        </div>
                    </div>
                </div>


                <div
                    id="donutchart-{{poll['_id']}}"
                    class='row donut-graph donutchart-{{poll['_id']}}'
                    data-poll-id="{{poll['_id']}}"
                    data-poll-options='{% raw json_encode(poll['options_object']) %}'
                ></div>


                <div class='row'>
                    <h3>Vote and join the {{poll['total_votes']}} people with opinions</h3>
                    <div>

                        {% for vote in poll['votes'][:15] %}
                            <a href="/users/{{vote['user_id']}}" class="remove-decoration">
                                <img class="img-rounded user-img" src="/img/loading.gif" data-src="{{vote['user_avatar']}}?h=114&amp;w=114" title="@{{vote['user_name']}}" width="57" height="57" alt="@{{vote['user_name']}}'s avatar"/>
                            </a>
                        {% end %}

                    </div>
                </div>


                <br>
                <div class='row'>

                    {% if current_user is not None %}
                        <a id="post-vote" class="btn btn-default btn-success btn-lg pull-right" href="/polls/{{poll['_id']}}">
                             Vote and be merry
                        </a>

                    {% else %}
                        <a href='/auth/redirect?redirect={{url_escape(poll["redirect"])}}' class="btn btn-default btn-lg pull-right">
                            Make your voice heard
                        </a>
                    {% end %}

                </div>
            {% end %}
        </div>
    </div>
{% end %}
