<div class='row'>
    <div class='col-md-10 col-md-offset-1'>

        <h4>{{total_votes}} people with opinions</h4>
        <div>
            {% for vote in votes %}
            <a href="/users/{{vote['user_id']}}">
                <img
                    class="img-rounded vote-grid"
                    src="{{vote['user_avatar']}}?h=114&amp;w=114"
                    title="{{vote['user_name']}}"
                    width="57"
                    height="57"
                    alt="{{vote['user_name']}}'s avatar"/>
            </a>
            {% end %}
        </div>

    </div>
</div>
