<li class="dropdown">
    <a href="/users/{{current_user['_id']}}" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/img/loading.gif" data-src="{{current_user['user_avatar']}}?w=32&amp;h=32" width="16" height="16" class="img-rounded" />
        {{current_user['user_name']}} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/users/{{current_user['_id']}}">Profile</a>
        </li>
        <li>
            <a href="https://alpha.app.net/{{current_user['user_name']}}" target='_blank'>
                Profile on ADN
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li>
            <a href="https://docs.google.com/forms/d/1E7OEZu2CU72lsY5qMFUeKSiGQD9Vg0ucuW0nme-nsyo/viewform" target='_blank'>
                Feedback
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li>
            <a href="https://broadcast.app.net/28435/new-polls/" target='_blank'>
                New poll broadcasts
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li>
            <a href="https://broadcast.app.net/28871/new-trending-polls/" target='_blank'>
                Trending poll broadcasts
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
</li>
