{% extends "base.html" %}


{% block xsrf %}<meta name="_xsrf" content="{{xsrf_token}}">{% end %}


{% block title %}{{poll['question']}}{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>{{poll['question']}}</h1>
        </div>


        <div class="lead text-muted">

            By <a href="/users/{{poll['user_id']}}" title="Created by @{{poll['user_name']}}">@{{poll['user_name']}}</a>
            <a href="{{poll['post_url']}}" target="_blank" title="View on ADN">
                <span class='datetime' data-datetime="{{poll['created_at']}}">{{poll['created_at_human']}}</span></a>&nbsp;
            <span>{{poll['views']}} views</span>&nbsp;
            <a href="{{poll['post_url']}}" target="_blank" title="View on ADN">
                <span class="glyphicon glyphicon-link"></span></a>&nbsp;

            {% if current_user is not None %}
                {% module PollsStar(poll_id=poll['_id'], user_id=current_user['_id'], starred_by=poll['post_starred_by']) %}&nbsp;
                {% module PollsRepost(poll_id=poll['_id'], user_id=current_user['_id'], reposted_by=poll['post_reposted_by']) %}
            {% end %}

        </div>


        <div class="col-md-12">


            {% if poll['total_votes'] == 0 %}
            <div id="donutchart-{{poll['_id']}}" style="height: 500px;" class="row polls-empty">
                <p class="lead text-center" style="padding-top: 200px;">No one has cast a vote yet, be the first and make history!</p>
            {% else %}
            <div id="donutchart-{{poll['_id']}}" style="height: 500px;" class="row">
            {% end %}
            </div>


            <div class='row'>
                <form role="form" id="vote" data-poll-id="{{poll['_id']}}" class="col-md-10 col-md-offset-1">
                    {% raw xsrf_input %}

                    {% for option in poll['options'] %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="option" id="option" value="{{option['_id']}}" tabindex=1>
                            {{option['display_text']}}
                        </label>
                    </div>
                    {% end %}

                    <br/>

                    {% if current_user is None %}
                        
                        <div class='pull-right'>
                            <a href='/auth/redirect?redirect={{escape(redirect)}}' class="btn btn-default btn-lg">Sign in and be a voting hero</a>
                        </div>

                    {% else %}
                        
                        {% if user_has_voted %}
                            <div class="alert alert-success has-not-voted">
                        {% else %}
                            <div class="alert alert-success has-voted hidden">
                        {% end %}
                                <strong>Nice vote!</strong>
                                Help out <a href="/users/{{poll['user_id']}}">@{{poll['user_name']}}</a> and give their poll a
                                {% module PollsStar(poll_id=poll['_id'], user_id=current_user['_id'], starred_by=poll['post_starred_by']) %}
                                and&nbsp;
                                {% module PollsRepost(poll_id=poll['_id'], user_id=current_user['_id'], reposted_by=poll['post_reposted_by']) %}
                                or check out <a href="/polls/{{poll['_id']}}/next">another poll</a>.
                            </div>

                        {% if not user_has_voted %}
                            <div class="has-not-voted">
                                <button type="submit" id="post-vote" class="btn btn-default btn-lg pull-right btn-danger" disabled="disabled" tabindex=2>
                                    <span class="glyphicon glyphicon-check"></span>
                                     Vote and post to ADN
                                </button>
                            </div>
                        {% end %}

                    {% end %}
                </form>
                <br/>
            </div>


            {% if poll['total_votes'] > 3 %}
                <div class='row'>
                    <div class='col-md-10 col-md-offset-1'>
                        <br/>
                        <h4>{{poll['total_votes']}} people with opinions</h4>
                        <div>
                            {% for vote in poll['votes'][:100] %}
                            <a href="/users/{{vote['user_id']}}">
                                <img class="img-rounded" src="{{vote['user_avatar']}}?h=114&amp;w=114" title="@{{vote['user_name']}}" width="57" height="57" style="margin-bottom: 5px;" alt="@{{vote['user_name']}}'s avatar"/>
                            </a>
                            {% end %}
                        </div>
                        <br/>
                    </div>
                </div>
            {% end %}


            <div class='row'>
                <div class='col-md-10 col-md-offset-1'>
                    {% if len(poll.get('post_replies', [])) > 10 %}
                        <p>
                            <a href="#poll-reply-form">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                                Jump to leave a reply
                            </a>
                        </p>
                    {% end %}

                    {% for reply in poll.get('post_replies', []) %}
                        {% module PollsReplies(reply=reply) %}
                    {% end %}

                    <form role="form" id='poll-reply-form' class="form-reply" data-poll-id="{{poll['_id']}}" style='margin-top: 30px;'>
                        {% raw xsrf_input %}

                        <textarea class="form-control" rows="5" tabindex=3 style='margin-bottom: 30px;' data-value="@{{poll['user_name']}} ">    @{{poll['user_name']}} </textarea>

                        {% if current_user is not None %}
                        <span class='text-muted' style="position: relative; top: 15px;">Currently only replies posted through Polls are shown</span>
                        <button type="submit" class="btn btn-default btn-lg pull-right btn-danger post-replies" tabindex=4 data-loading-text="<span class='glyphicon glyphicon-refresh'></span> Being awesome..." data-toggle="button">
                            <span class="glyphicon glyphicon-share-alt"></span>
                             Reply on ADN
                        </button>

                        {% else %}
                        <div class="pull-right">
                            <a href='/auth/redirect?redirect={{escape(redirect)}}' class="btn btn-default btn-lg">Sign in to reply</a>
                        </div>
                        {% end %}

                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% end %}


{% block scripts %}
<script>
    pollIds.push("{{poll['_id']}}");
    pollOptions["{{poll['_id']}}"] = {% raw json_encode(poll['options_object']) %};


    function postVote(event) {
        var $form = $(event.currentTarget).closest('form')
        var pollId = $form.data('poll-id');
        var optionId = $form.find('[name="option"]:checked').prop('value');
        var _xsrf = $form.find('[name="_xsrf"]').prop('value');

        if (!optionId) {
            alert('You must select a value');
            return false;
        }

        incrementVote(pollId, optionId);
        initChart(pollId);

        $.ajax({
            type: "POST",
            url: "/polls/" + pollId + "/votes",
            data: { optionId: optionId, _xsrf: _xsrf },
            success: voteSuccess,
            error: function(errMsg) {
                console.log('ERROR', errMsg);
                alert('Oooops...something went wrong.');
            }
        });
        event.preventDefault()
    }

    function voteSuccess(data) {
        $('.has-not-voted').slideUp();
        $('.has-voted').hide().removeClass('hidden').slideDown();
    }


    function postReply(event) {
        var $form = $(event.currentTarget).closest('form')
        var pollId = $form.data('poll-id');
        var text = $form.find('textarea').prop('value');
        var _xsrf = $form.find('[name="_xsrf"]').prop('value');

        if (!text) {
            alert('There must be some text to reply with...');
            return false;
        }
        $form.find('button').button('loading');

        $.ajax({
            type: "POST",
            url: "/polls/" + pollId + '/replies',
            data: { text: text, _xsrf: _xsrf },
            success: function(data){
                var $form = $('form.form-reply');
                $form.before(data).prev().hide().slideDown();
                $("img").unveil();
                $form.find('textarea').prop('value', $form.find('textarea').data('value'));
                $form.find('button').button('reset');
            },
            error: function(errMsg) {
                console.log('ERROR', errMsg);
                alert('Oooops...something went wrong.');
                var $form = $('form.form-reply');
                $form.find('button').button('reset');
            }
        });
        event.preventDefault()
    }


    function enableVoteBtn() {
        $('#post-vote').removeAttr('disabled');
    }


    $(function() {
        $('#post-vote').on('click', postVote);
        $('#post-vote').on('submit', postVote);
        $('.post-replies').on('click', postReply);
        $('.post-replies').on('submit', postReply);
        $('#vote input').on('focus', enableVoteBtn);
        $('#vote input').on('click', enableVoteBtn);
    });

</script>
{% end %}
