{% extends "base.html" %}


{% block xsrf %}<meta name="_xsrf" content="{{xsrf_token}}">{% end %}


{% block title %}{{poll['question']}}{% end %}


{% block poll_id %}<meta name="poll-id" content="{{poll['_id']}}" >{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>{{poll['question']}}</h1>
        </div>


        <div class="lead text-muted">

            By <a href="/users/{{poll['user_id']}}" title="Created by {{poll['user_name']}}" rel="author">{{poll['user_name']}}</a>
            <span class='datetime' data-datetime="{{poll['created_at']}}">
                {{moment(poll['created_at'])}}
            </span>
            with
            <span class='polls-views-{{poll['_id']}}'>{{poll['views']}} views</span>&nbsp;
            <a href="{{poll['post_url']}}" class="external" title="View on ADN">
                <span class="glyphicon glyphicon-new-window"></span></a>&nbsp;

            {% if current_user is not None %}
                {% module PollsStar(poll_id=poll['_id'], user_id=current_user['_id'], starred_by=poll['post_starred_by']) %}&nbsp;
                {% module PollsRepost(poll_id=poll['_id'], user_id=current_user['_id'], reposted_by=poll['post_reposted_by']) %}&nbsp;
            {% end %}


            {% module ShareDropdown(poll=poll, poll_url=poll_url) %}


        </div>


        <div class="col-md-12">


            <div class='row'>
                <div class='col-md-10 col-md-offset-1'>
                    <form
                        role="form"
                        class="js-polls-vote-{{poll['_id']}} js-signals-submit"
                        data-poll-id="{{poll['_id']}}"
                        data-option-id="{{poll['options'][0]['_id']}}"
                        data-signals-name="vote-on-poll-freeform">
                        {% raw xsrf_input %}


                        {% if current_user is None %}


                            <textarea
                                class="form-control js-votes-{{poll['_id']}}-input"
                                id="text"
                                rows="3"
                                tabindex="2"
                                data-default-value="@{{poll['user_name']}}"
                                required
                                disabled
                                maxlength="256"
                                autofocus>@{{poll['user_name']}} </textarea>


                            <div class='pull-right'>
                                <a href='/auth/redirect?redirect={{escape(redirect)}}' class="btn btn-default btn-lg">Sign in and be a voting hero</a>
                            </div>

                        {% else %}
                            

                            {% if user_has_voted %}
                                <div class="alert alert-success js-has-not-voted-{{poll['_id']}}">
                                    {% module VotesComplete(poll=poll, current_user=current_user) %}
                                </div>
                            {% else %}
                                <div class="alert alert-success js-has-voted-{{poll['_id']}} hidden">
                                    {% module VotesComplete(poll=poll, current_user=current_user) %}
                                </div>
                            {% end %}


                            {% if not user_has_voted %}
                                <div class="js-has-not-voted-{{poll['_id']}}">


                                    <textarea
                                        class="form-control js-votes-{{poll['_id']}}-input"
                                        id="text"
                                        rows="5"
                                        tabindex="2"
                                        data-default-value="@{{poll['user_name']}}"
                                        required
                                        maxlength="256"
                                        autofocus>@{{poll['user_name']}} </textarea>

                                    <div class='col-md-8'></div>


                                    <div class="col-md-4">
                                        <button
                                            type="submit"
                                            id="post-vote"
                                            class="btn btn-default btn-lg btn-danger pull-right js-votes-{{poll['_id']}}"
                                            tabindex="3">
                                            <span class="glyphicon glyphicon-check"></span>
                                            Vote and post to ADN
                                        </button>
                                    </div>
                                </div>
                            {% end %}


                        {% end %}
                    </form>
                </div>
            </div>


            {% if poll['total_votes'] >= 5 %}
                {% module VotesFacepile(poll=poll) %}
            {% end %}


            <div class='row'>
                <div class='col-md-10 col-md-offset-1'>


                    {% module RepliesList(poll=poll) %}


                    {% module RepliesForm(poll=poll, redirect=redirect, current_user=current_user) %}


                </div>
            </div>
        </div>
    </div>
{% end %}
