{% extends "base.html" %}


{% block xsrf %}<meta name="_xsrf" content="{{xsrf_token}}">{% end %}


{% block title %}{{poll['question']}}{% end %}


{% block container %}
    <div class="row">


        <div class="page-header">
            <h1>{{poll['question']}}</h1>
        </div>


        <div class="lead text-muted">

            By <a href="/users/{{poll['user_id']}}" title="Created by {{poll['user_name']}}" rel="author">{{poll['user_name']}}</a>
            <a href="{{poll['post_url']}}" target="_blank" title="View on ADN">
                <span class='datetime' data-datetime="{{poll['created_at']}}">{{poll['created_at_human']}}</span></a>&nbsp;
            <span>{{poll['views']}} views</span>&nbsp;
            <a href="{{poll['post_url']}}" target="_blank" title="View on ADN">
                <span class="glyphicon glyphicon-link"></span></a>&nbsp;

            {% if current_user is not None %}
                {% module PollsStar(poll_id=poll['_id'], user_id=current_user['_id'], starred_by=poll['post_starred_by']) %}&nbsp;
                {% module PollsRepost(poll_id=poll['_id'], user_id=current_user['_id'], reposted_by=poll['post_reposted_by']) %}&nbsp;
            {% end %}


            {% module ShareDropdown(poll=poll, poll_url=poll_url) %}


        </div>


        <div class="col-md-12">


            {% if poll['total_votes'] >= 5 %}
                {% module VotesFacepile(poll=poll) %}
            {% end %}


            <div class='row'>
                <div class='col-md-10 col-md-offset-1'>


                    {% module RepliesList(poll=poll) %}


                    {% module RepliesForm(poll=poll, redirect=redirect, current_user=current_user) %}


                </div>
            </div>
        </div>
    </div>
{% end %}
